# Dependencies
node_modules/
dist/
.angular/
.vercel
.netlify

# Environments
.env
.env.*
! .env.example
src/environments/environment.prod.ts
src/environments/environment.qa.ts

# Database / Backend
*.sql
supabase/migrations/*.sql
.supabase/
supabase/.temp/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
Thumbs.db
desktop.ini
